<a href="https://colab.research.google.com/github/PuputHanifah/PuputHanifah/blob/main/E(V)DA_04_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><strong><font color="blue">E(V)DA 04 - Data Wrangling</font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/covers/cover_ui-n-taudata.jpg?raw=1"/>

<center><h1><strong><font color="blue">Outline:</font></strong></h1></center>

* Pendahuluan Data Wrangling
* Hierarchical Indexing
* Combine and Merge
* Reshape & Pivot
* Group By
* Data Aggregation
* Apply
* Pivot & Cross-Tab

<center><h1><strong><font color="blue">Data Cleaning, Cleansing, Munging, Wrangling</font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/data%20cleaning%20ceansing%20wrangling%20munging%20preprocessing%20preparation.png?raw=1"/>

<center><h1><strong><font color="blue">Data Cleaning VS Cleansing: Tidak selalu sama artinya</font></strong></h1></center>

* https://indica.nl/blog/2021/3/16/what-is-the-difference-between-data-cleansing-and-data-cleaning

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/data-cleaning-VS-cleansing.png?raw=1"/>

<center><h1><strong><font color="blue"> Perjalanan Data </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Stage.png?raw=1"/>

Source: [1]

Saat mengamati Raw Data, tanyakan/fikirkan:
* What kinds of records are in the data?
* How are the record fields encoded?
* How does the data relate to your organization, to the kinds of operations you have, and to the other data you are already using?

<center><h1><strong><font color="blue"> Data Value Funnel </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Value-Funnel.png?raw=1"/>

When it comes to delivering production value from your data, there are two
critical points to consider. 
1. data can produce insights that are not useful to you and your business. These insights might not be actionable, or their potential impact might be too small to warrant a change in existing processes. A good strategy for mitigating this risk is to empower the people who know your business priorities to explore your data. 
2. your exploratory analytics efforts should be as efficient as possible. This brings us back to data wrangling. 

The faster you can wrangle data, the more explorations of your data you can conduct, and the more analyses you will be able to move into production. Ultimately, implementing an effective data
wrangling workflow can enable more business analysts to explore a larger quantity of data at a faster pace.

<center><h1><strong><font color="blue"> Perjalanan Data Diperjelas</font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Stage-detailed.png?raw=1"/>

Setiap tahap ada proses utama

<center><h1><strong><font color="blue"> Data Wrangling adalah Proses yang Dinamis (Iteratif) </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Wrangling-Dynamics.png?raw=1"/>

<center><h1><strong><font color="blue"> Core data wrangling types </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Wrangling-Types.png?raw=1"/>

<center><h1><strong><font color="blue"> Profiling </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-wrangling-core-profiling.png?raw=1"/>

<center><h1><strong><font color="blue"> Raw Data Stage </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-wrangling-Raw-Data-Stage.png?raw=1"/>

* Bold artinya proses yang paling sering dilakukan (utama)

<center><h1><strong><font color="blue"> Refined Data Stage </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-wrangling-Refined-Data-Stage.png?raw=1"/>

<center><h1><strong><font color="blue"> Production Data Stage </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-wrangling-Production-Data-Stage.png?raw=1"/>

<center><h1><strong><font color="blue"> Tanggung Jawab Siapa dan dengan Kompetensi seperti apa?</font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Data-Professionals-in-Data-Wrangling.png?raw=1"/>

<center><h1><strong><font color="blue"> Hierarchical Indexing </font></strong></h1></center>

* Hierarchical indexing is an important feature of pandas that enables you to have multiple (two or more) index levels on an axis
* Source: [2]

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Hierarchical-index-in-Pandas-dataframe.png?raw=1"/>

index : year, food

variable : price, number

In [ ]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd, numpy as np

'Done'

'Done'

In [ ]:
#contoh membuah data random sebanyak 9 data
#cari satu persatu kalau ga ngerti
dt = np.random.randn(9)
dt

array([-1.01418268, -0.24407086,  0.39414399,  0.93824142,  0.87071847,
       -0.5775082 , -1.36013959,  0.88830325, -0.45369315])

In [ ]:
data = pd.DataFrame(data=np.random.randn(9), 
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

            0
a 1 -0.096973
  2 -0.390191
  3 -1.487077
b 1  1.664028
  3 -0.772635
c 1 -0.848807
  2 -0.878322
d 2  1.048128
  3  0.178359

In [ ]:
#mencari tahu index suatu data
#kalau ga pake kurung berarti itu objek terhadap data.index
#kalau pake kurung berarti itu suatu fungsi
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [ ]:
data.values

array([[-0.09697302],
       [-0.39019054],
       [-1.48707678],
       [ 1.66402807],
       [-0.77263509],
       [-0.84880731],
       [-0.87832183],
       [ 1.04812776],
       [ 0.17835892]])

In [ ]:
#mencari data pada index b
data.loc['b']

          0
1  1.664028
3 -0.772635

In [ ]:
data.loc[['b', 'd']] # Perhatikan jumlah kurung siku!.... 
#kalau mau lebih dari 1 index dan manual, harus pakai 2 kurung siku
#kalau pake koma berarti yang di ambil data itu saja

            0
b 1  1.664028
  3 -0.772635
d 2  1.048128
  3  0.178359

In [ ]:
data.loc['b' : 'd'] # Perhatikan jumlah kurung siku!.... Saat slicing berbeda!.
#kalau pake titik dua berarti artinya b sampai d
#slicing pake 1 kurung aja

            0
b 1  1.664028
  3 -0.772635
c 1 -0.848807
  2 -0.878322
d 2  1.048128
  3  0.178359

kalau ketemu pandas series, ubah aja jadi pandas frame

# Hati-hati ... pemanggilan index sedikit berbeda di "Series"

In [ ]:
data2 = pd.Series(np.random.randn(9), 
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data2

a  1    0.115673
   2    0.110809
   3   -0.142025
b  1    0.125917
   3    0.587463
c  1    0.300024
   2   -1.575731
d  2   -0.057118
   3   -2.307120
dtype: float64

In [ ]:
data2['b']

1    0.125917
3    0.587463
dtype: float64

In [ ]:
data2.loc[:, 2] # HAti-hati ... ini error jika "data2" berupa Dataframe!... 
#memanggil data yang berindex 2

a    0.110809
c   -1.575731
d   -0.057118
dtype: float64

<center><h1><strong><font color="blue"> Hierarchical Indexing untuk Apa?</font></strong></h1></center>

Hierarchical indexing plays an important role in reshaping data and group-based
operations like forming a pivot table. For example, you could rearrange the data into
a DataFrame using its unstack method

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/stack-unstack-in-Pandas-dataframe.png?raw=1"/>

In [ ]:
data
# a dan 123 dll itu index, variable itu yang random angka
#vektor1x9

            0
a 1 -0.096973
  2 -0.390191
  3 -1.487077
b 1  1.664028
  3 -0.772635
c 1 -0.848807
  2 -0.878322
d 2  1.048128
  3  0.178359

In [ ]:
data.unstack()
#matriks 4x3

          0
          1         2         3
a -0.096973 -0.390191 -1.487077
b  1.664028       NaN -0.772635
c -0.848807 -0.878322       NaN
d       NaN  1.048128  0.178359

In [ ]:
np.nan

nan

In [ ]:
data.unstack().stack() # Perhatikan struktur datanya

            0
a 1 -0.096973
  2 -0.390191
  3 -1.487077
b 1  1.664028
  3 -0.772635
c 1 -0.848807
  2 -0.878322
d 2  1.048128
  3  0.178359

In [ ]:
data.unstack().shape, data.unstack().stack().shape # Bilamana ini berguna? ... coba difikirkan

((4, 3), (9, 1))

# Rename Index (for clarity)

In [ ]:
data = np.arange(12).reshape((4, 3))
data
#np.arange(12) : membuat angka dari 0 - 11 (sebanyak 12 angka)
#reshape((4, 3)) : mengubah tampilannya menjadi ukuruan 4x3

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [ ]:
frame = pd.DataFrame(data,
    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
    columns=[['Ohio', 'Ohio', 'Colorado'],
    ['Green', 'Red', 'Green']])

frame

#hirarikal variable
#variable ohio green, ohio red, colorado green

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [ ]:
# Pahami kedua perintah ini sebagai perubahan property di Object "frame"! ... 
#menamai index dan variable
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
# Memilih Groups of Colums
# Sangat memudahkan EDA nantinya ==> Sudah bukan DA cupu lagi.
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [ ]:
type(frame['Ohio'])
#lihat type datanya, misalkan data frame berarti bisa pakai fungsi decribe, issnull dllll

pandas.core.frame.DataFrame

In [ ]:
#statistika deskriptif
frame['Ohio'].describe()

color     Green        Red
count  4.000000   4.000000
mean   4.500000   5.500000
std    3.872983   3.872983
min    0.000000   1.000000
25%    2.250000   3.250000
50%    4.500000   5.500000
75%    6.750000   7.750000
max    9.000000  10.000000

<center><h1><strong><font color="blue"> Reordering and Sorting Levels </font></strong></h1></center>

In [ ]:
frame.swaplevel('key1', 'key2')
#diubah posisi indexnya

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [ ]:
# Bisa juga diurutkan
frame.sort_index(level=1) # Ganti "1" dengan "0" untuk memahami operasi ini.

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

<center><h1><strong><font color="blue"> Summary Statistics by Level </font></strong></h1></center>

In [ ]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
frame.sum(level='key2')
#melakukan agregate dengan penjumlahan berdasarkan key2

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [ ]:
frame.mean(level='key2')

state  Ohio      Colorado
color Green  Red    Green
key2
1       3.0  4.0      5.0
2       6.0  7.0      8.0

In [ ]:
frame.min(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5

In [ ]:
frame.max(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   7        8
2         9  10       11

In [ ]:
frame.sum(level='color', axis=1) # Perhatikan beda syntax akibat pemilihan "key" index/kolom
#berdasarkan coloum

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

<center><h1><strong><font color="blue"> Indexing with a DataFrame’s columns </font></strong></h1></center>

## Pada data di dunia nyata anda akan sering membutuhkan ini

In [ ]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
     'c': ['one', 'one', 'one', 'two', 'two',
     'two', 'two'],
     'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [ ]:
frame2 = frame.set_index(['c', 'd']) # ==> Membuat index berdasarkan nilai dari kolom "c" dan "d"
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [ ]:
frame.set_index(['c', 'd'], drop=False) # Kalau kita ingin c dan d tetap ada (not sure why u want this)
#jarang dibutuhkan

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [ ]:
# Reset Index biasanya dibutuhkan saat kita sudah banyak melakukan perubahan di DF-nya
# Atau selesai melakukan data PreProcessing/EDA
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

<center><h1><strong><font color="blue"> Combining and Merging Datasets </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/join-in-Pandas-dataframe.png?raw=1"/>

Ada 3 macam:
* pandas.merge connects rows in DataFrames based on one or more keys. This will be familiar to users of SQL or other relational databases, as it implements database join operations.
* pandas.concat concatenates or “stacks” together objects along an axis.
* The combine_first instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

<center><h1><strong><font color="blue"> Database-Style DataFrame Joins (Merge/Join) </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/?raw=1"/>

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
     'data1': range(7)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
    'data2': range(3)})
df2

  key  data2
0   a      0
1   b      1
2   d      2

# many-to-one join

the data in df1 has multiple rows labeled a
and b, whereas df2 has only one row for each value in the key column. Calling merge
with these objects we obtain:

## Data Mana yang Hilang? Mengapa?

In [ ]:
pd.merge(df1, df2, on='key')
#menggabungkan dua data berdasarkan kolom key yang sama
#data yang hilang yaitu c di df1 dan d di df2, karena c tidak ada di df2 dan d tidak ada di df1

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

# Bagaimana jika nama kolom berbeda?

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
    'data1': range(7)})
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [ ]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
    'data2': range(3)})

df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')
#left_on='lkey' : yang dikiri pakai coloum ikey
#right_on='rkey' : yang dikanan pakai coloum rkey
#bisa juga dengan direname duluuu

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

# Inner join

You may notice that the 'c' and 'd' values and associated data are missing from the
result. By default merge does an 'inner' join; the keys in the result are the intersec‐
tion, or the common set found in both tables.

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/join-in-Pandas-dataframe.png?raw=1"/>

# Outer Join

Other possible options are 'left', 'right', and 'outer'. The outer join takes the union of the keys, combining the
effect of applying both left and right joins:

In [ ]:
pd.merge(df1, df2, how='outer') # Perhatikan outputnya.

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

# Many-to-many merges 

* well-defined, though not necessarily intuitive, behavior
* Many-to-many joins form the Cartesian product of the rows.

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
     'data1': range(6)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
    'data2': range(5)})

df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [ ]:
pd.merge(df1, df2, on='key', how='left')

   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0

Since there were three
'b' rows in the left DataFrame and two in the right one, there are six 'b' rows in the
result. The join method only affects the distinct key values appearing in the result:

In [ ]:
pd.merge(df1, df2, how='inner')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

<center><h1><strong><font color="blue"> merge with multiple keys </font></strong></h1></center>

* When you’re joining columns-on-columns, the indexes on the
passed DataFrame objects are discarded.

In [ ]:
df1 = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
    'key2': ['one', 'two', 'one'],
    'lval': [1, 2, 3]})
df1

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [ ]:
df2 = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
     'key2': ['one', 'one', 'one', 'two'],
     'rval': [4, 5, 6, 7]})
df2

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [ ]:
pd.merge(df1, df2, on=['key1', 'key2'], how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

# overlapping column names

* While you can address the overlap manually (Rename nama kolom), merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects

In [ ]:
pd.merge(df1, df2, on='key1')
#ada kolom yang sama tapi ga di merge, jadi kolom yg namnya sama di rename

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [ ]:
pd.merge(df1, df2, on='key1', suffixes=('_atu', '_dua'))
#merename kolom lain yang sama namanya (gak di merge) sesuai keinginan

  key1 key2_atu  lval key2_dua  rval
0  foo      one     1      one     4
1  foo      one     1      one     5
2  foo      two     2      one     4
3  foo      two     2      one     5
4  bar      one     3      one     6
5  bar      one     3      two     7

<center><h1><strong><font color="blue"> Merging on Index </font></strong></h1></center>

In [ ]:
df1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
    'value': range(6)})
df1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [ ]:
df2 = pd.DataFrame({'group_val': [35, 7]}, index=['a', 'b'])
df2

   group_val
a         35
b          7

In [ ]:
pd.merge(df1, df2, left_on='key', right_index=True)
#kasus ini tidak ada yg sama namanya dan maknanya
#pada group_val index nya sama kaya isi kolom key pada df1
#jadi di merge berdasarkan index dan kolom

  key  value  group_val
0   a      0         35
2   a      2         35
3   a      3         35
1   b      1          7
4   b      4          7

# Concatenating Along an Axis

In [ ]:
# Kalau di Numpy
arr = np.arange(12).reshape((3, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
np.concatenate([arr, arr], axis=1)
#menggabungkan data ke samping

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [ ]:
# Di Pandas  - Series
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [ ]:
pd.concat([s1, s2, s3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [ ]:
# Concat di DataFrame

df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
    columns=['one', 'two'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [ ]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
    columns=['three', 'four'])
df2

   three  four
a      5     6
c      7     8

In [ ]:
pd.concat([df1, df2], axis=1) # , keys=['level1', 'level2']
#Perhatikan indexnya
#NaN itu float, makanya kolom lain berubah jadi float padahal awalnya integer

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

<center><h1><strong><font color="blue"> Data Aggregation and Group Operations </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Aggregrate-Groups-Pandas-dataframe.png?raw=1"/>

* pandas provides a flexible groupby interface, enabling you to slice, dice, and summarize datasets in a natural way.
* Aggregation of time series data, a special use case of groupby, is referred to as resampling.

<center><h1><strong><font color="blue"> 1. GroupBy Mechanics </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/Split-Apply-Combine-Pandas-dataframe.png?raw=1"/>

* Hadley Wickham, an author of many popular packages for the R programming lan‐
guage, coined the term split-apply-combine for describing group operations.

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
    'key2' : ['one', 'two', 'one', 'two', 'one'],
    'data1' : np.random.randn(5),
    'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.091427 -0.003105
1    a  two -0.270815 -1.360470
2    b  one -0.040913  0.455891
3    b  two  0.048897  0.749188
4    a  one  2.395141  0.076739

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped
#groupby : disatukan dan langsung difungsikan

In [ ]:
grouped.sum()

key1
a    1.032899
b    0.007983
Name: data1, dtype: float64

In [ ]:
grouped.mean()

key1
a    0.344300
b    0.003992
Name: data1, dtype: float64

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.651857
      two    -0.270815
b     one    -0.040913
      two     0.048897
Name: data1, dtype: float64

In [ ]:
means.unstack()

key2       one       two
key1
a     0.651857 -0.270815
b    -0.040913  0.048897

In [ ]:
df

  key1 key2     data1     data2
0    a  one -1.091427 -0.003105
1    a  two -0.270815 -1.360470
2    b  one -0.040913  0.455891
3    b  two  0.048897  0.749188
4    a  one  2.395141  0.076739

In [ ]:
df.groupby('key1').mean()

# You may have noticed in the first case df.groupby('key1').mean() that there is no key2 column in the result. 
# Because df['key2'] is not numeric data, it is said to be a nuisance column, which is therefore excluded from the result.

         data1     data2
key1
a     0.344300 -0.428945
b     0.003992  0.602539

In [ ]:
# Walau pada data numerik terkadang kita ingin mengetahui jumlah kejadiannya (frekuensi)
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

# Iterating Over Groups

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -1.478689  1.485648
1    a  two -0.008028 -0.182179
4    a  one  0.567371 -0.066825
b
  key1 key2     data1     data2
2    b  one -0.441588 -0.734013
3    b  two -0.432856  0.035351

In [ ]:
# Atau kalau mau bisa juga disimpan ke variable:
pieces = dict(list(df.groupby('key1')))
pieces['b']

  key1 key2     data1     data2
2    b  one -0.441588 -0.734013
3    b  two -0.432856  0.035351

# Selecting a Column or Subset of Columns

### Trivial sebenarnya

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.709412
     two  -0.182179
b    one  -0.734013
     two   0.035351

# GroupBy bisa flexible dengan memilih grouping berdasarkan kolom mana saja

* Sekalian rename hasil groupBy-nya

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
    columns=['a', 'b', 'c', 'd', 'e'],
    index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people

               a         b         c         d         e
Joe    -0.063843 -1.046217  0.381813  1.768793  0.398850
Steve   1.438013  0.523918 -0.796872  0.152879 -0.312412
Wes     1.271798 -0.899541 -0.527226 -0.490577 -0.442180
Jim     0.270973 -0.764379  0.285496  1.230699  0.857225
Travis  1.183526 -0.132228  0.636652  0.362861  0.060740

In [ ]:
GroupMap = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f' : 'orange'}
GroupMap
#mengubah namanya, nanti yang sama akandi groupby
#ada f yang tidak ad adi data, tidak akan menyebab kan error

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [ ]:
people.groupby(GroupMap, axis=1).sum()

            blue       red
Joe     2.150606 -0.711210
Steve  -0.643993  1.649519
Wes    -1.017803 -0.069923
Jim     1.516195  0.363820
Travis  0.999513  1.112038

<center><h1><strong><font color="blue"> Data Aggregation </font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/GroupBy-Pandas-dataframe.png?raw=1"/>

* Aggregations refer to any data transformation that produces scalar values from
arrays. 
* Tidak hanya fungsi yang ditabel diatas

In [ ]:
df

  key1 key2     data1     data2
0    a  one -1.091427 -0.003105
1    a  two -0.270815 -1.360470
2    b  one -0.040913  0.455891
3    b  two  0.048897  0.749188
4    a  one  2.395141  0.076739

In [ ]:
df.groupby('key1').quantile(0.9)

         data1     data2
key1
a     1.861949  0.060770
b     0.039916  0.719858

# Custom Aggregate Function 

### Perhatikan, ini sangat penting untuk diketahui

In [ ]:
def RangeData(arr):
    return arr.max() - arr.min()

In [ ]:
df.groupby('key1').agg(RangeData)

         data1     data2
key1
a     3.486567  1.437209
b     0.089810  0.293297

# Apply di Dataframe

* Sangat penting juga untuk mengefisienkan Code

In [ ]:
def sum_kuadrat(x):
    return x.sum()**2

data = {
  "x": [5, 4, 3],
  "y": [2, 1, 7]
}
df = pd.DataFrame(data)
df

   x  y
0  5  2
1  4  1
2  3  7

In [ ]:
df.apply(sum_kuadrat)

x    144
y    100
dtype: int64

<center><h1><strong><font color="blue"> Pivot Tables and Cross-Tabulation </font></strong></h1></center>

A pivot table is a data summarization tool frequently found in spreadsheet programs
and other data analysis software. It aggregates a table of data by one or more keys,
arranging the data in a rectangle with some of the group keys along the rows and
some along the columns. Pivot tables in Python with pandas are made possible
through the groupby

In [ ]:
import seaborn as sns

tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips.pivot_table(index=['day', 'smoker'])

                 size       tip  total_bill
day  smoker
Thur Yes     2.352941  3.030000   19.190588
     No      2.488889  2.673778   17.113111
Fri  Yes     2.066667  2.714000   16.813333
     No      2.250000  2.812500   18.420000
Sat  Yes     2.476190  2.875476   21.276667
     No      2.555556  3.102889   19.661778
Sun  Yes     2.578947  3.516842   24.120000
     No      2.929825  3.167895   20.506667

HARUS PERHATIKAN TYPE DARI INDEX ATAU KOLOMNYA, APAKAH NUMERIK ATAU CATEGORY DLLLL

# CrossTab

* A cross-tabulation (or crosstab for short) is a special case of a pivot table that computes group frequencies.

In [ ]:
pd.crosstab(tips.day, tips.smoker)

smoker  Yes  No
day
Thur     17  45
Fri      15   4
Sat      42  45
Sun      19  57

sabtu bisa dibilang paling banyak yg ngeroko, tapi secara proposional hari jumat paling banyak yang ngeroko dibanding yang ga ngeroko ( selisih nya lebih besar)

<center><h1><strong><font color="blue">End of Module</font></strong></h1></center>

<img alt="" src="https://github.com/taudataid/eLearning/blob/master/images/meme-cartoon/data-wrangling-meme.jpg?raw=1"/>

# Referensi:

1. Rattenbury, Tye, et al. Principles of data wrangling: Practical techniques for data preparation. " O'Reilly Media, Inc.", 2017.

2. McKinney, Wes. Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.", 2012.